# Virtual environments
venv/

# Environment variables
.env

# OTHER FILES AND FOLDERS
backend/testing/output/
backend/config/user_persona.json
backend/src/supabase/migrations/
archive/
backend/src/v_17
documentation/
docs/
*.md
*.rst
*.txt
*.pdf
*.doc
*.docx
*.odt
*.rtf
*.ppt
*.pptx
*.csv
*.tsv
*.xlsx
*.xls
*.numbers
*.puml
*.log
start_bot.sh


#============================================================#

# Temporary files
*.tmp
*.temp

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
